<h1 mat-dialog-title>Add User</h1>

<div class="first-and-lastname">
    <div mat-dialog-content>
        <mat-form-field class="m-16" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder">

        </mat-form-field>

        <mat-form-field class="m-16" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Placeholder">

        </mat-form-field>

    </div>

    <div class="gb">
        <mat-form-field class="full-width" appearance="outline">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-label>Birth Day</mat-label>
            <input [matDatepicker]="picker" matInput placeholder="Placeholder">

        </mat-form-field>
    </div>

    <div class="adress">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Street & House No.</mat-label>
            <input matInput placeholder="Placeholder">

        </mat-form-field>


    </div>


    <div class="zip-and-city">
        <mat-form-field class="zip-and-city" class="m-16" appearance="outline">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="Placeholder">

        </mat-form-field>

        <mat-form-field class="m-16" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="Placeholder">

        </mat-form-field>


    </div>


    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button cdkFocusInitial>Save</button>
    </div>